<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ page.title }}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  <!-- CSS: implied media="all" -->
  {% css_asset_tag global %}
  - /_assets/css/bootstrap/bootstrap.less
  - /_assets/css/bootswatch.less
  {% endcss_asset_tag %}

  <!-- More ideas for your <head> here: h5bp.com/docs/#head-Tips -->

  <!-- All JavaScript at the bottom, except for Modernizr and Respond.
       Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
       For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
  {% javascript_asset_tag global %}
  - /_assets/js/jquery-1.8.3.min.js
  - /_assets/js/modernizr-2.0.min.js 
  - /_assets/js/respond.min.js
  - /_assets/js/bootstrap/bootstrap-transition.js
  - /_assets/js/bootstrap/bootstrap-alert.js
  - /_assets/js/bootstrap/bootstrap-modal.js
  - /_assets/js/bootstrap/bootstrap-dropdown.js
  - /_assets/js/bootstrap/bootstrap-scrollspy.js
  - /_assets/js/bootstrap/bootstrap-tab.js
  - /_assets/js/bootstrap/bootstrap-tooltip.js
  - /_assets/js/bootstrap/bootstrap-popover.js
  - /_assets/js/bootstrap/bootstrap-button.js
  - /_assets/js/bootstrap/bootstrap-collapse.js
  - /_assets/js/bootstrap/bootstrap-carousel.js
  - /_assets/js/bootstrap/bootstrap-typeahead.js
  - /_assets/js/bootstrap/bootstrap-affix.js
  - /_assets/js/main.js
  {% endjavascript_asset_tag %}
</head>